<app-header 
  [title]="'Historique des congés'" 
  [showBackButton]="true"
  [showLogoutButton]="true">
</app-header>

<ion-content>
   <!-- Loading State -->
   <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Chargement de l'historique...</p>
  </div>

  <!-- Error State -->
  <div *ngIf="error && !isLoading" class="error-container">
    <ion-icon name="alert-circle" color="danger" size="large"></ion-icon>
    <p>{{ error }}</p>
    <ion-button fill="clear" (click)="retryLoadData()">Réessayer</ion-button>
  </div>
  
  <div class="leave-history" *ngIf="!isLoading && !error">
    <div class="search-bar">
      <div class="date-filters">
        <ion-item>
          <ion-icon name="funnel-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="stacked">Date début</ion-label>
          <ion-input type="date" [(ngModel)]="searchStartDate" (ionChange)="filterByDate()" aria-label="Filter by start date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="funnel-outline" slot="start" color="primary"></ion-icon>
          <ion-label position="stacked">Date fin</ion-label>
          <ion-input type="date" [(ngModel)]="searchEndDate" (ionChange)="filterByDate()" aria-label="Filter by end date"></ion-input>
        </ion-item>
      </div>
      <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)" class="custom-segment">
        <ion-segment-button value="all">
          <ion-label>Tous</ion-label>
        </ion-segment-button>
        <ion-segment-button value="approved" [disabled]="!hasRequestsWithStatus('approved')">
          <ion-label>Approuvés</ion-label>
        </ion-segment-button>
        <ion-segment-button value="waiting" [disabled]="!hasRequestsWithStatus('waiting')">
          <ion-label>En attente</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="leave-grid">
      <ion-card *ngFor="let leave of filteredRequests">
        <ion-card-content>
          <div class="leave-header">
            <div class="leave-type">
              <h2>{{leave.type}}</h2>
              <ion-badge [color]="getStatusColor(leave.status)">
                {{getStatusLabel(leave.status)}}
              </ion-badge>
            </div>
            <div class="leave-duration">
              <ion-chip>
                <ion-icon name="time-outline"></ion-icon>
                <ion-label>{{leave.duration}} jours</ion-label>
              </ion-chip>
            </div>
          </div>
          
          <div class="leave-details">
            <p class="dates">
              <ion-icon name="calendar-outline"></ion-icon>
              Du {{leave.startDate | date:'dd/MM/yyyy'}} au {{leave.endDate | date:'dd/MM/yyyy'}}
            </p>
            <p class="reason">
              <strong>Motif:</strong> {{leave.reason}}
            </p>
            <ng-container *ngIf="leave.responseDate && leave.status !== 'En attente RH'">
              <p class="response">
                <strong>Réponse ({{leave.responseDate | date:'dd/MM/yyyy'}}) </strong>
                <ng-container *ngIf="leave.status === 'Rejete'">
                    {{leave.responseComment}}
                </ng-container>
              </p>
            </ng-container>
            <div class="leave-actions" *ngIf="canEditLeave(leave)">
              <ion-button fill="clear" color="primary" (click)="editLeave(leave)">
                <ion-icon slot="start" name="create-outline"></ion-icon>
                Modifier
              </ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ng-template #noLeave>
    <div class="empty-state">
      <ion-icon name="calendar-outline" size="large"></ion-icon>
      <p>Aucun congé trouvé.</p>
    </div>
  </ng-template>
</ion-content>
